@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {

    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #287bff;
    --white: #FFF;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;

}

body {

    min-height: 100vh;
    overflow-x: hidden;
}

.container {

    position: relative;
    width: 100%;

}

.navigation 
{
    background: var(--blue);
    position: fixed;
    /* define el grueso de el menu */
    width: 15em;
    height: 100%;
    border-left: .2em solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    
    width: 3.3em;
    
}

.navigation ul {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    /* hace la curva de arriba izq cuando se selecciona un elemento del menu */
    border-top-left-radius: 1.8em;
    /* hace la curva de abajo izq cuando se selecciona un elemento del menu */
    border-bottom-left-radius: 1.8em;

}

.navigation ul li:hover,
.navigation ul li.hovered {
    /* hace que cuando pases el mouse por cada elemento este se seleccione en blanco */
    background: var(--white);

}

.navigation ul li:nth-child(1) {
    /* hace q el primer elemento no se pueda seleccionar, apagando los eventos de escucha del mouse */
    margin-bottom: 2em;
    pointer-events: none;
}

.navigation ul li a {

    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);

}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    /* ajusta el icono para que quede alineado con el elemento de texto del menu */
    top: .5em;
    position: relative;
    display: block;
    min-width: 3em;
    height: 3em;
    line-height: 4em;
    text-align: center;

}

.navigation ul li a .icon ion-icon {
    /* da el tamaño del icono del menu */
    font-size: 1.8em;
}

.navigation ul li:nth-child(1) .icon ion-icon {
    /* hace q solo el icono de la app este mas grande */
    font-size: 3em;

}

.navigation ul li .title {

    position: relative;
    display: block;
    padding: 0 0.2em;
    height: 3.7em;
    line-height: 3.7em;
    text-align: start;
    white-space: nowrap;

}

/* curvas derechas del menu */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -3.1em;
    width: 3em;
    height: 3em;
    background: transparent;
    border-radius: 50%;
    /* crea la curva superior derecha en si misma, siendo la sobra de un circulo declarado en 137 */
    box-shadow: 35px 35px 0 10px transparent;
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -3em;
    width: 3em;
    height: 3.1em;
    background: transparent;
    border-radius: 50%;
    /* crea la curva inferior derecha en si misma, siendo la sobra de un circulo declarado en 137 */
    box-shadow: 30px -30px 0 10px transparent;
    pointer-events: none;
}

/* main */

.main {
    position: absolute;
    /* resta el area del menu al area de contenido */
    width: calc(100% - 19em);
    /* acomoda hacia la derecha el contenido con la medida exacta */
<<<<<<< HEAD
    left:19em;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;

}


.topbar
{
    width: 100%;
    height: 3.75em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8em;
}


.toggle
{
    position: relative;
    top: 0;
    width: 2.5em;
    height: 2.5em;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;

}
.search
{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 0.8em;
    background: rgb(34, 29, 40);
}

.search label
{
    position: relative;
    width: 100%;
    background: var(--grey);
    letter-spacing: 2px;

}
=======
    left: 19em;
    min-height: 100vh;
    background: var(--white);
    background: red;
    transition: 0.5s;
}
.main.active
{
    
    width: calc(100% - 9em);
}

.topbar {

    /* toda la barra superior */
    /* background: #287bff; */
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8em;
}

.toggle {
    /* menu de hamburguesa */
    position: relative;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.search {
    /* cuadro de busqueda en minuto 26:00 */
    position: relative;
    width: 100%;
    margin: 0 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.user {
    /* circulo de la imagen del usuario */
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

}

.user img {
    /* encuadre de la imagen del archivo */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
>>>>>>> 3674d043045092c3895cd47c8bf2b13e209a8c1a
